<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../assets/events/running.jpg" />
  </div>

  <div  *ngFor="let sw of arrayEvento;">
    <h1 class="eventname">{{sw.name}} - {{sw.date}}</h1>
    <p class="location"><ion-icon name="location"></ion-icon>{{sw.latitud}} / {{sw.longitud}}</p>
    <br>
    <p>{{sw.description}}</p>
  </div>
<div id="mapa2"></div>
  <section>
    <ion-button color="success" expand="block" >Apuntarte</ion-button>
    <ion-button color="warning" expand="block">Interes</ion-button>
    
  </section>
  

</ion-content>

